amqp==2.6.1
billiard==3.6.4.0
boto3==1.20.46
botocore==1.23.46
cachetools==5.0.0
celery==4.4.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.10
dj-database-url==0.5.0
Django==1.11.29
django-autoslug==1.9.7
django-braces==1.8.1
django-cors-headers==3.0.2
django-crispy-forms==1.9.2
django-embed-video==1.3.3
django-redis==4.11.0
django-storages==1.9.1
django-taggit==1.1.0
django-taggit-serializer==0.1.7
django-termsandconditions==1.2.15
django-webpack-loader==0.6.0
django-widget-tweaks==1.4.3
djangorestframework==3.11.2
future==0.18.2
google-api-python-client==1.7.4
google-auth==2.5.0
google-auth-httplib2==0.1.0
gunicorn==20.1.0
httplib2==0.20.2
idna==3.3
importlib-metadata==4.10.1
jmespath==0.10.0
joblib==1.1.0
kombu==4.6.11
Markdown==3.1.1
mistune==0.8.4
numpy==1.19.5
olefile==0.46
pandas==1.1.5
Pillow==8.2.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.7.4
pyparsing==3.0.7
python-dateutil==2.8.2
python-decouple==3.5
python3-memcached==1.51
pytz==2021.3
redis==3.4.1
requests==2.27.1
rsa==4.8
s3transfer==0.5.0
scikit-learn==0.24.1
scipy==1.5.4
six==1.16.0
sklearn==0.0
threadpoolctl==3.0.0
typing_extensions==4.0.1
uritemplate==3.0.1
urllib3==1.26.8
vine==1.3.0
whitenoise==3.3.1
zipp==3.7.0
setuptools
