
{% load staticfiles %}<html class="js-focus-visible" data-js-focus-visible=""><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><style type="text/css">
@font-face {
  font-weight: 400;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Book-cd7d2bcec649b1243839a15d5eb8f0a3.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Medium-d74eac43c78bd5852478998ce63dceb3.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Bold-83b8ceaf77f49c7cffa44107561909e4.woff2') format('woff2');
}

@font-face {
  font-weight: 900;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Black-bf067ecb8aa777ceb6df7d72226febca.woff2') format('woff2');
}
table, th, td {
  border: 1px solid black;
}
</style></head><body>
    <canvas id="myCanvas" width="1100" height="500" style="border:1px solid #d3d3d3;" onclick="imgDraw1()">
                      </canvas>
     <script onload="initialise()">

function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
          x: evt.clientX - rect.left,
          y: evt.clientY - rect.top
        };
      }
      var canvas = document.getElementById('myCanvas');
      var context = canvas.getContext('2d');

      canvas.addEventListener('mousemove', function(evt) {
        var mousePos = getMousePos(canvas, evt);
        var message = 'Mouse position: ' + mousePos.x + ',' + mousePos.y;
         a=  mousePos.x;    b= mousePos.y;  
        writeMessage(canvas, message);
      }, false);

       var ipc ;   var pcount;  var pccount;   var ak;   var lccount;   var lcount;  var px1,px2,py1,py2;  var comon;    var value;   var colorln;   var peer;
  var pccoarrx = [];   var pccoarry = [];    var l1coarrx= [];   var l1coarry= [];   var l2coarrx= [];   var l2coarry= []; var conpc= [];  var i;   var j; var k; var l; var m; 
	var p1; var q1;   var r1;  var s1;		var p2; var q2;   var r2;  var s2;
       
         ipc = 0 ;   pcount=0;   pccount=0;   lccount=0;    lcount=0;   comon =0;   value=0;  peer=0;
	p1=0;  q1=0;    r1=0;  s1=0;	 p2=0;  q2=0;    r2=0;  s2=0;
         function initialise()
           {     
                 ipc = 0 ;   pcount=0;   pccount=0;   lccount=0;    lcount=0;   comon =0;   value=0;   
          
            }
       function imgDraw(id) 
         {      ipc++;
              comon =1;
              ak =id;
            lccount=0; 
          }

        function lineDraw(id)
          {             comon =0; 
                          lcount++;
                             lccount =1;
                        if(id=="ico")
	         {
		 colorln="red";
		lnsize=3;
	            }
                        if(id=="icoax")
	         {
		 colorln="black";
		lnsize=6;
	            }
                        if(id=="ifopt")
	         {
		 colorln="yellow";
		lnsize=5;
	            }
                        if(id=="iro")
	         {
		 colorln="orange";
		lnsize=3;
	            }
                        if(id=="ist")
	         {
		 colorln="black";
		lnsize=3;
	            }
           } 

       function imgDraw1() 
         {       
                if( pcount<4  && comon==1)
                  {
             var c = document.getElementById("myCanvas");
              var ctx = c.getContext("2d");
              var img = document.getElementById(ak);
              ctx.drawImage(img, a, b,100,100);  
                 pccoarrx [ipc] = a ; 
                 pccoarry [ipc] = b ;       
                comon =0;
               
                      pcount++;
                  }
               if(lccount==2)
                {       
                        l2coarrx[lcount] = a;
                        l2coarry[lcount] = b;
           	                var c = document.getElementById("myCanvas");
		var ctx = c.getContext("2d");
		ctx.beginPath();
		ctx.moveTo( l1coarrx[lcount], l1coarry[lcount]);
		ctx.lineTo(l2coarrx[lcount], l2coarry[lcount]);
		ctx.strokeStyle=colorln;
		ctx.lineWidth=lnsize;
		ctx.stroke();
                        lccount=0; 
                        lcount++;
                  }
               else
                 {         if(lccount==1)
                            {      
                       	l1coarrx[lcount] = a;
                       	 l1coarry[lcount] = b;
                       	 lccount=2;    
                                }
                  }  
            }
               function reset()
                 {      
                       var c = document.getElementById("myCanvas");
 	       var ctx = c.getContext("2d");
                      ctx.clearRect(3, 3, 1099, 499);
                      ipc = 0 ;   pcount=0;   pccount=0;   lccount=0;    lcount=0;  comon =0;   value=0;
	    
                   }        
                function evaltop()
                 {
                        
                           if(pcount>1)
                             {
   		    for ( i=1 ;i<13;i++)
		        {  
			for( j=1 ;j<5;j++)
                                                 { 
				px1 = pccoarrx [j];	
				px2 = pccoarrx[j]+100;
				py1 = pccoarry [j] ;
				py2 = pccoarry [j]+100;
                                            		if( l1coarrx[i] > px1 && l1coarrx[i] < px2 &&  l1coarry[i] > py1  &&  l1coarry[i] < py2   )          
 				  {     
					if(j==1){  p1++;  conpc[j]=p1; }
					if(j==2){  q1++;  conpc[j]=q1;  }
					if(j==3){  r1++;  conpc[j]=r1;  }
					if(j==4){  s1++;  conpc[j]=s1;  }
				         for( l=1 ;l<5;l++)
				              {    if( l2coarrx[i]<pccoarrx [l]  ||  l2coarrx[i]>pccoarrx[l]+100  ||   l2coarry[i]<pccoarry [l]  ||   l2coarry[i]>pccoarry [l]+100)
					      {  
 					         for( k=1 ;k<5;k++)
 					            {        
 						 if(l2coarrx[i]>pccoarrx [k] && l2coarrx[i]<pccoarrx[k]+100 &&  l2coarry[i]>pccoarry [k]  &&  l2coarry[i]<pccoarry [k]+100)
					                    {   
							if(k==1){  p2++;  conpc[k]=p2;  }
							if(k==2){  q2++;  conpc[k]=q2;  }
							if(k==3){  r2++;  conpc[k]=r2;  }
							if(k==4){  s2++;  conpc[k]=s2;  }
							
							 value++;  k=5; l=5; j=5;
						      }
					              }
					         }
         					     
					 }
                                                                      }
			  }                                                   
     		        }
                               }
	           for(m=1;m<pcount+1;m++)
                                {	  
	 	if(m==1){    conpc[m]=p1+p2;  }
		if(m==2){    conpc[m]=q1+q2;  }
		if(m==3){    conpc[m]=r1+r2;  }
		if(m==4){    conpc[m]=s1+s2;  }
		 if(conpc[m]==(pcount-1))
		   {     
			peer++;
		     }
		} 
                               if(value>0 && value==(lcount/2) && peer==pcount)
                    	{      
		      alert("Компьютерлер 1-1(peer-to-peer) режимінде қосылған");
		  }
                      	else
 	        	  {
		        alert("Компьютерлер 1-1(peer-to-peer) режимінде қосылмаған");
	                 	    }
                   }     
 </script>
<div style="margin-top:30px">
<table ><tr>
         <th><img id="com" width="100" height="100" src="{% static 'exp2_files/computer.png' %}" onclick="imgDraw(id)"></th>
        <th> <img id="ico" width="100" height="100" src="{% static 'exp2_files/coo.png' %}" onclick="lineDraw(id)"></th>
<th><img id="icoax" width="100" height="60" src="{% static 'exp2_files/cox.png' %}" onclick="lineDraw(id)"></th>
<th><img id="ifopt" width="100" height="60" src="{% static 'exp2_files/fb.png' %}" onclick="lineDraw(id)"></th>
<th><img id="iro" width="100" height="100" src="{% static 'exp2_files/ro.png' %}" onclick="lineDraw(id)"></th>
<th><img id="ist" width="100" height="100" src="{% static 'exp2_files/st2.png' %}" onclick="lineDraw(id)"></th>
<th><img id="ireset" width="100" height="100" src="{% static 'exp2_files/ree.png' %}" onclick="reset()"></th>
<th><img id="ievaluate" width="100" height="100" src="{% static 'exp2_files/ev.png' %}" onclick="evaltop()"></th>
             </tr><tr>
 <th><h3>КОМПЬЮТЕР</h3></th>
 <th><h3>жалғағыш кабель</h3></th>
 <th>коаксиалды кабель</th>
 <th>талшықты-оптикалық кабель</th>
 <th>аударылуға арналған кабель (RollOver)</th>
 <th>тікелей кабель </th>
 <th>Жаңарту</th>
 <th>Запуск</th></tr>
  </table></div>
</body><loom-container id="lo-engage-ext-container"><loom-shadow classname="resolved"></loom-shadow></loom-container><loom-container id="lo-companion-container"><loom-shadow classname="resolved"></loom-shadow></loom-container></html>