{% extends "base.html" %}
   {% block title %}
     {% if object %}
       Контентті өзгерту "{{ object.title }}"
     {% else %}
       Жаңа контент қосу
     {% endif %}
   {% endblock %}
   {% block content %}
   <div class="container-fluid">
         <h1>
           {% if object %}
             Контентті өзгерту "{{ object.title }}"
           {% else %}
             Жаңа контент қосу
           {% endif %}
         </h1>
         <div>
           <h2>Курс жайлы ақпарат</h2>
           <form action="" method="post" enctype="multipart/form-data">
             {{ form.as_p }}
             {% csrf_token %}
             <p><input type="submit" class="bg-teal-600 hover:bg-teal-700 text-white text-sm px-4 py-2  border rounded-full" value="Сақтау"></p>
           </form>
         </div>
     </div>
   {% endblock %}
